@import url("https://fonts.googleapis.com/css?family=Courgette|Titillium+Web");
body,
html {
  font-size: 100%;
  margin: 0; }
  body .flex,
  html .flex {
    display: flex; }
  body .hide,
  html .hide {
    display: none !important; }
  body .section,
  html .section {
    text-align: center; }

@keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; } }
@keyframes bounce {
  0% {
    bottom: 3%; }
  50% {
    bottom: 0%; }
  100% {
    bottom: 3%; } }
body .vertical-fixed {
  transform: rotate(270deg);
  transform-origin: left top 0;
  font-size: 1.25rem;
  letter-spacing: 7px;
  position: fixed;
  bottom: -5%;
  left: 0.5rem;
  display: none;
  animation: bounce 3s infinite;
  color: black;
  z-index: 1; }
  @media (min-width: 768px) {
    body .vertical-fixed {
      right: 5rem; } }
  @media (min-width: 992px) {
    body .vertical-fixed {
      left: 5rem; } }
  body .vertical-fixed .arrow {
    font-size: 1.5rem;
    letter-spacing: 0;
    right: 6rem; }
body .intro h1 {
  margin: auto;
  position: absolute;
  top: 10rem;
  left: 0;
  bottom: 0;
  right: 0;
  height: 20rem;
  font-size: 4rem;
  display: none;
  font-family: monospace;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 3.5s steps(30, end); }
  @media (min-width: 768px) {
    body .intro h1 {
      font-size: 9rem; } }
  body .intro h1 span {
    color: #FFE74C; }
body .intro .wrapper {
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  body .intro .wrapper .nav-wrapper {
    flex-direction: row;
    height: 5%;
    width: 90%; }
    body .intro .wrapper .nav-wrapper .nav {
      flex: 1;
      text-align: left;
      font-family: monospace; }
      body .intro .wrapper .nav-wrapper .nav span {
        margin: 1rem; }
        body .intro .wrapper .nav-wrapper .nav span a {
          text-decoration: none;
          color: black;
          margin: 1rem; }
    body .intro .wrapper .nav-wrapper div:nth-of-type(2) {
      flex: 1;
      padding-bottom: 2rem; }
      body .intro .wrapper .nav-wrapper div:nth-of-type(2) h2 {
        font-size: 1.5rem;
        font-family: monospace;
        margin: 0;
        line-height: 1rem; }
        @media (min-width: 768px) {
          body .intro .wrapper .nav-wrapper div:nth-of-type(2) h2 {
            font-size: 2rem; } }
  body .intro .wrapper .circle {
    width: 10rem;
    height: 10rem;
    background: #FFE74C;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: all .5s; }
    body .intro .wrapper .circle h2 {
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-size: 5rem;
      letter-spacing: 4px;
      position: relative; }
    body .intro .wrapper .circle h2:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #000;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s; }
    body .intro .wrapper .circle button {
      font-family: monospace;
      font-size: 2.5rem;
      position: absolute;
      top: 4rem;
      border-radius: 10px;
      padding: 0.5rem;
      background: none;
      border: none;
      cursor: pointer;
      position: relative;
      transition: top ease 2s; }
    body .intro .wrapper .circle .line-extend:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1); }
  body .intro .wrapper .expand {
    width: 95%;
    height: 90%;
    top: 0;
    margin-top: 0;
    left: 0;
    margin-left: 0;
    border-radius: 0;
    background: whitesmoke;
    box-shadow: none; }
  body .intro .wrapper .expand-fill {
    height: 100%;
    background: #FFE74C; }
  body .intro .wrapper .vertical {
    transform: rotate(270deg);
    transform-origin: left top 0;
    font-size: 1.25rem;
    letter-spacing: 7px;
    position: absolute;
    bottom: -5%;
    opacity: 0;
    animation: bounce 3s infinite; }
    body .intro .wrapper .vertical .arrow {
      font-size: 1.5rem;
      letter-spacing: 0;
      right: 6rem; }
body .about {
  width: 95%;
  margin: 0 auto;
  flex-direction: row; }
  body .about .col-container {
    background: whitesmoke;
    width: 100%;
    flex-direction: column; }
    @media (min-width: 768px) {
      body .about .col-container {
        flex-direction: row;
        height: 100%; } }
    body .about .col-container .left-col {
      flex: 1;
      padding-top: 5rem; }
      body .about .col-container .left-col #three-arrows {
        color: #FF5964;
        font-size: 4rem;
        position: absolute;
        top: 2rem; }
      body .about .col-container .left-col .text-container {
        width: 50%;
        margin: 0 auto;
        text-align: left; }
        body .about .col-container .left-col .text-container h1 {
          font-family: monospace;
          font-size: 5rem;
          color: black;
          text-align: left;
          line-height: 41px;
          margin-top: 0; }
          @media (min-width: 1200px) {
            body .about .col-container .left-col .text-container h1 {
              margin-top: 43px; } }
          body .about .col-container .left-col .text-container h1 span {
            color: #FF5964;
            font-size: 6rem; }
        body .about .col-container .left-col .text-container p {
          font-family: 'Titillium Web', sans-serif;
          font-size: 1.25rem;
          margin-top: 0;
          font-weight: bold; }
          @media (min-width: 768px) {
            body .about .col-container .left-col .text-container p {
              font-size: 1rem;
              margin-top: 5px; } }
          @media (min-width: 1200px) {
            body .about .col-container .left-col .text-container p {
              font-size: 1.5rem;
              margin-top: 25px; } }
          body .about .col-container .left-col .text-container p span:nth-of-type(1) {
            font-weight: normal;
            font-family: 'Courgette', cursive;
            color: #FF5964; }
          body .about .col-container .left-col .text-container p span:nth-of-type(2) {
            color: #FF5964; }
        body .about .col-container .left-col .text-container .hide-mobile {
          display: none !important; }
          @media (min-width: 768px) {
            body .about .col-container .left-col .text-container .hide-mobile {
              display: initial !important; } }
    body .about .col-container .right-col {
      flex: 1;
      padding: 0; }
      @media (min-width: 1200px) {
        body .about .col-container .right-col {
          padding: 5rem 7rem 0 0; } }
      body .about .col-container .right-col ul {
        font-family: 'Titillium Web', sans-serif;
        font-size: 1.5rem;
        list-style: none;
        padding: 0;
        margin: 0; }
        @media (min-width: 768px) {
          body .about .col-container .right-col ul {
            margin: 3rem;
            font-size: 2rem; } }
        body .about .col-container .right-col ul li {
          margin: 1rem; }
          body .about .col-container .right-col ul li a {
            text-decoration: none; }
            body .about .col-container .right-col ul li a i.fa-gitlab,
            body .about .col-container .right-col ul li a .fa-linkedin {
              color: #FF5964;
              margin: 1rem;
              font-size: 2rem; }
              body .about .col-container .right-col ul li a i.fa-gitlab:hover,
              body .about .col-container .right-col ul li a .fa-linkedin:hover {
                color: black; }
              @media (min-width: 768px) {
                body .about .col-container .right-col ul li a i.fa-gitlab,
                body .about .col-container .right-col ul li a .fa-linkedin {
                  margin: 2rem;
                  font-size: 2rem; } }
          body .about .col-container .right-col ul li i.fa-envelope,
          body .about .col-container .right-col ul li .fa-mobile-phone {
            color: #FF5964;
            margin-right: 1rem;
            font-size: 1rem;
            border: solid 2px #FF5964;
            border-radius: 0px;
            text-align: center;
            width: 50px;
            padding: 5px; }
            @media (min-width: 768px) {
              body .about .col-container .right-col ul li i.fa-envelope,
              body .about .col-container .right-col ul li .fa-mobile-phone {
                margin: 2rem;
                font-size: 3rem;
                padding: 20px; } }
          body .about .col-container .right-col ul li span#email {
            font-size: 1.3rem;
            display: block; }
            @media (min-width: 1200px) {
              body .about .col-container .right-col ul li span#email {
                display: inline; } }
          body .about .col-container .right-col ul li span#number {
            display: block; }
            @media (min-width: 1200px) {
              body .about .col-container .right-col ul li span#number {
                display: inline; } }
body .projects .wrapper {
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  body .projects .wrapper .projects-container {
    background: url(../src/hypnotize.png);
    width: 95%;
    height: 90%;
    position: relative; }
    body .projects .wrapper .projects-container .ab-text {
      position: absolute;
      text-align: left;
      bottom: 0%;
      left: 2%;
      z-index: 2333; }
      @media (min-width: 768px) {
        body .projects .wrapper .projects-container .ab-text {
          bottom: 0%; } }
      @media (min-width: 992px) {
        body .projects .wrapper .projects-container .ab-text {
          bottom: 40%; } }
      body .projects .wrapper .projects-container .ab-text span {
        font-size: 5rem;
        font-family: monospace; }
        body .projects .wrapper .projects-container .ab-text span:nth-of-type(1) {
          color: #35A7FF; }
          @media (min-width: 768px) {
            body .projects .wrapper .projects-container .ab-text span:nth-of-type(1) {
              color: #35A7FF; } }
          @media (min-width: 992px) {
            body .projects .wrapper .projects-container .ab-text span:nth-of-type(1) {
              color: whitesmoke; } }
        body .projects .wrapper .projects-container .ab-text span:nth-of-type(2) {
          color: #35A7FF; }
    body .projects .wrapper .projects-container .expand-top {
      background: #35A7FF;
      width: 100%;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      -webkit-box-shadow: -1px -3px 45px 0px rgba(0, 0, 0, 0.56);
      -moz-box-shadow: -1px -3px 45px 0px rgba(0, 0, 0, 0.56);
      box-shadow: -1px -3px 45px 0px rgba(0, 0, 0, 0.56); }
      @media (min-width: 768px) {
        body .projects .wrapper .projects-container .expand-top {
          flex-direction: column; } }
      @media (min-width: 992px) {
        body .projects .wrapper .projects-container .expand-top {
          flex-direction: row; } }
      body .projects .wrapper .projects-container .expand-top .project {
        display: none;
        transform-style: preserve-3d;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 1rem; }
        @media (min-width: 768px) {
          body .projects .wrapper .projects-container .expand-top .project {
            margin: 1rem; } }
        @media (min-width: 1200px) {
          body .projects .wrapper .projects-container .expand-top .project {
            margin: 2rem; } }
      body .projects .wrapper .projects-container .expand-top #gh a img, body .projects .wrapper .projects-container .expand-top #rso a img, body .projects .wrapper .projects-container .expand-top #learned a img {
        width: 150px;
        height: auto; }
        @media (min-width: 768px) {
          body .projects .wrapper .projects-container .expand-top #gh a img, body .projects .wrapper .projects-container .expand-top #rso a img, body .projects .wrapper .projects-container .expand-top #learned a img {
            width: 150px; } }
        @media (min-width: 1200px) {
          body .projects .wrapper .projects-container .expand-top #gh a img, body .projects .wrapper .projects-container .expand-top #rso a img, body .projects .wrapper .projects-container .expand-top #learned a img {
            width: 200px; } }
      body .projects .wrapper .projects-container .expand-top #hed a img {
        width: 200px;
        height: auto; }
        @media (min-width: 768px) {
          body .projects .wrapper .projects-container .expand-top #hed a img {
            width: 200px; } }
        @media (min-width: 992px) {
          body .projects .wrapper .projects-container .expand-top #hed a img {
            width: 300px; } }
    body .projects .wrapper .projects-container .other-projects {
      flex-direction: column;
      display: none;
      padding-top: 3rem; }
      body .projects .wrapper .projects-container .other-projects div {
        margin: 2rem; }
    body .projects .wrapper .projects-container .project-info {
      height: 30%;
      justify-content: center;
      align-items: center;
      margin-top: 4rem;
      display: none; }
      @media (min-width: 768px) {
        body .projects .wrapper .projects-container .project-info {
          display: none; } }
      @media (min-width: 992px) {
        body .projects .wrapper .projects-container .project-info {
          display: flex; } }
      body .projects .wrapper .projects-container .project-info .info-ball {
        height: 10rem;
        width: 10rem;
        border-radius: 100%;
        background: #FFE74C;
        justify-content: center;
        align-items: center; }
        body .projects .wrapper .projects-container .project-info .info-ball .dot {
          background: #35A7FF;
          border-radius: 100%;
          opacity: 0; }
        body .projects .wrapper .projects-container .project-info .info-ball h3 {
          font-family: 'Titillium Web', sans-serif;
          color: black;
          font-size: 1.5rem; }

/*# sourceMappingURL=style.css.map */
