@import 'variables.scss';


body {
    
    .vertical-fixed {
        transform: rotate(270deg);
        transform-origin: left top 0;
        font-size: 1.25rem;
        letter-spacing: 7px;
        position: fixed;
        bottom: -5%;
        left: 0.5rem;
        display: none;
        animation: bounce 3s infinite;
        color: black;
        z-index: 1;
        @include breakpoint (sm) {
            right: 5rem;
        }
        @include breakpoint (md) {
            left: 5rem;
        }
        .arrow {
            font-size: 1.5rem;
            letter-spacing: 0;
            right: 6rem;
        }
    }
    .intro {
        h1 {
            margin: auto;
            position: absolute;
            top: 10rem;
            left: 0;
            bottom: 0;
            right: 0;
            height: 20rem;
            font-size: 4rem;
            display: none;
            font-family: monospace;
            overflow: hidden;
            white-space: nowrap;
            animation: typing 3.5s steps(30, end);
            @include breakpoint (sm) {
                font-size: 9rem;
            }
            span {
                color: $yellow;
            }
        }
        .wrapper {
            height: 100%;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .nav-wrapper {
                flex-direction: row;
                height: 5%;
                width: 90%;
                .nav {
                    flex: 1;
                    text-align: left;
                    font-family: monospace;
                    span {
                        margin: 1rem;
                        a {
                            text-decoration: none;
                            color: black;
                            margin: 1rem;
                        }
                    }
                }
                div:nth-of-type(2) {
                    flex: 1;
                    padding-bottom: 2rem;
                    h2 {
                        font-size: 1.5rem;
                        font-family: monospace;
                        margin: 0;
                        line-height: 1rem;
                        @include breakpoint (sm) {
                            font-size: 2rem;
                        }
                    }
                }
            }
            .circle {
                width: 10rem;
                height: 10rem;
                background: $yellow;
                border-radius: 50%;
                justify-content: center;
                align-items: center;
                transition: all .5s;
                h2 {
                    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                    font-size: 5rem;
                    letter-spacing: 4px;
                    position: relative;
                }
                h2:before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    bottom: 0;
                    left: 0;
                    background-color: #000;
                    visibility: hidden;
                    -webkit-transform: scaleX(0);
                    transform: scaleX(0);
                    -webkit-transition: all 0.3s ease-in-out 0s;
                    transition: all 0.3s ease-in-out 0s;
                }
                button {
                    font-family: monospace;
                    font-size: 2.5rem;
                    position: absolute;
                    top: 4rem;
                    border-radius: 10px;
                    padding: 0.5rem;
                    background: none;
                    border: none;
                    cursor: pointer;
                    position: relative;
                    transition: top ease 2s;
                }
                .line-extend:before {
                    visibility: visible;
                    -webkit-transform: scaleX(1);
                    transform: scaleX(1);
                }
            }
            .expand {
                width: 95%;
                height: 90%;
                top: 0;
                margin-top: 0;
                left: 0;
                margin-left: 0;
                border-radius: 0;
                background: whitesmoke;
                box-shadow: none;
            }
            .expand-fill {
                height: 100%;
                background: $yellow;
            }
            .vertical {
                transform: rotate(270deg);
                transform-origin: left top 0;
                font-size: 1.25rem;
                letter-spacing: 7px;
                position: absolute;
                bottom: -5%;
                opacity: 0;
                animation: bounce 3s infinite;
                .arrow {
                    font-size: 1.5rem;
                    letter-spacing: 0;
                    right: 6rem;
                }
            }
        }
    }
    .about {
        width: 95%;
        margin: 0 auto;
        flex-direction: row;
        .col-container {
            background: whitesmoke;
            width: 100%;
            flex-direction: column;
            @include breakpoint (sm) {
                flex-direction: row;
                height: 100%;
            }
            .left-col {
                flex: 1;
                padding-top: 5rem;
                #three-arrows {
                    color: $rose;
                    font-size: 4rem;
                    position: absolute;
                    top: 2rem;
                    
                }
                .text-container {
                    width: 50%;
                    margin: 0 auto;
                    text-align: left;
                    h1 {
                        font-family: monospace;
                        font-size: 5rem;
                        color: black;
                        text-align: left;
                        line-height: 41px;
                        margin-top: 0;
                        @include breakpoint (lg) {
                            margin-top: 43px;
                        }
                        span {
                            color: $rose;
                            font-size: 6rem;
                        }
                    }
                    p {
                        font-family: 'Titillium Web', sans-serif;
                        font-size: 1.25rem;
                        margin-top: 0;
                        font-weight: bold;
                        @include breakpoint (sm) {
                            font-size: 1rem; 
                            margin-top: 5px 
                        }
                        @include breakpoint (lg) {
                            font-size: 1.5rem; 
                            margin-top: 25px; 
                        }
                        span:nth-of-type(1) {
                            font-weight: normal;
                            font-family: 'Courgette', cursive;
                            color: $rose;
                        }
                        span:nth-of-type(2) {
                            color: $rose;
                        }
                    }
                    .hide-mobile {
                        display: none !important;
                        @include breakpoint (sm) {
                            display: initial !important;
                        }
                }
            }
            }
            .right-col {
                flex: 1;
               padding: 0;
                
                @include breakpoint (lg) {
                    padding: 5rem 7rem 0 0;
                }
                
                ul {
                    font-family: 'Titillium Web', sans-serif;
                    font-size: 1.5rem;
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    @include breakpoint (sm) {
                        margin: 3rem;
                        font-size: 2rem;
                    }
                    li {
                        margin: 1rem;
                   
                        a {
                            text-decoration: none;
                            i.fa-gitlab,
                            .fa-linkedin {
                                color: $rose;
                                margin: 1rem;
                                font-size: 2rem;
                                &:hover {
                                    color: black;
                                }
                                @include breakpoint (sm) {
                                    margin: 2rem;
                                    font-size: 2rem;
                                }
                            }
                        }
                        i.fa-envelope,
                        .fa-mobile-phone {
                            color: $rose;
                            margin-right: 1rem;
                            font-size: 1rem;
                            border: solid 2px $rose;
                            border-radius: 0px;
                            text-align: center;
                            width: 50px;
                            padding: 5px;
                            @include breakpoint (sm) {
                                margin: 2rem;
                                font-size: 3rem;
                                padding: 20px;
                            }
                            
                        }
            
                       span#email {
                           font-size: 1.3rem;
                           display: block;
                           @include breakpoint (lg) {
                               display: inline;
                           }
                       }
                       span#number {
                           display: block;
                           @include breakpoint (lg) {
                               display: inline;
                           }
                       }
                    }
                }
            }
        }
    }
 
    .projects {
        .wrapper {
            height: 100%;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .projects-container {
                background: url(../src/hypnotize.png);
                width: 95%;
                height: 90%;
                position: relative;
                .ab-text {
                    position: absolute;
                    text-align: left;
                    bottom: 0%;
                    left: 2%;
                    z-index: 2333;
                    @include breakpoint (sm) {
                        bottom: 0%;
                    }
                    @include breakpoint (md) {
                        bottom: 40%;
                    }
                    span {
                        font-size: 5rem;
                        font-family: monospace;
                        &:nth-of-type(1) {
                            color: $blue;
                            @include breakpoint (sm) {
                                color: $blue;
                            }
                            @include breakpoint (md) {
                                color: whitesmoke;
                            }
                        }
                        &:nth-of-type(2) {
                            color: $blue;
                        }
                    }
                }
                .expand-top {
                    background: $blue;
                    width: 100%;
                    justify-content: center;
                    align-items: center;
                
                    flex-direction: column;
                    -webkit-box-shadow: -1px -3px 45px 0px rgba(0, 0, 0, 0.56);
                    -moz-box-shadow: -1px -3px 45px 0px rgba(0, 0, 0, 0.56);
                    box-shadow: -1px -3px 45px 0px rgba(0, 0, 0, 0.56);
                    @include breakpoint (sm) {
                        flex-direction: column;
                      
                    }
                    @include breakpoint (md) {
                        flex-direction: row;
                    }
                    .project {
                        display: none;
                        transform-style: preserve-3d;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        margin: 1rem;
                        @include breakpoint (sm) {
                            margin: 1rem;
                        }
                        @include breakpoint (lg) {
                            margin: 2rem;
                        }
                    }
                        #gh,#rso,#learned{
                            a {
                                img {
                                    width: 150px;
                                    height: auto;
                                    @include breakpoint (sm) {
                                        width: 150px;
                                       
                                    }
                                    @include breakpoint (lg) {
                                        width: 200px;
                                      
                                    } 
                                      
                                }
                            }
                        }
                        #hed {
                            a {
                                img {
                                    width: 200px;
                                    height: auto;
                                    @include breakpoint (sm) {
                                        width: 200px;
                                       
                                    }
                                    @include breakpoint (md) {
                                        width: 300px;
                                      
                                    }  
                                }
                            }
                        }
                    
                }
                .other-projects {
                    flex-direction: column;
                    display: none;
                    padding-top: 3rem;
                    div {
                        margin: 2rem;
                    }
                }
                .project-info {
                    height: 30%;
                    justify-content: center;
                    align-items: center;
                    margin-top: 4rem;
                    display: none;
                    @include breakpoint (sm) {
                        display: none;
                    }
                    @include breakpoint (md) {
                        display: flex;
                    }
                    .info-ball {
                        height: 10rem;
                        width: 10rem;
                        border-radius: 100%;
                        background: $yellow;
                        justify-content: center;
                        align-items: center;
                       
                        .dot {
                            background: $blue;
                            border-radius: 100%;
                            opacity: 0;
                        }
                        h3 {
                            font-family: 'Titillium Web', sans-serif;
                            color: black;
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }
    }
}