@import url('https://fonts.googleapis.com/css?family=Courgette|Titillium+Web');

$yellow: #FFE74C;
$rose: #FF5964;
$blue: #35A7FF;

body,
html {
    font-size: 100%;
    margin: 0;
    .flex {
      display: flex;
    }
    .hide {
      display: none !important;
    }
    .section {
      text-align: center;
    }
}

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

@keyframes bounce {
    0% {
        bottom: 3%;
    }
    50% {
        bottom: 0%;
    }
    100% {
        bottom: 3%;
    }
}

@mixin breakpoint($class) {
    @if $class==xs {
        @media (max-width: 767px) {
            @content;
        }
    }
    @else if $class==sm {
        @media (min-width: 768px) {
            @content;
        }
    }
    @else if $class==md {
        @media (min-width: 992px) {
            @content;
        }
    }
    @else if $class==lg {
        @media (min-width: 1200px) {
            @content;
        }
    }
    @else if $class==xlg {
        @media (min-width: 1500px) {
            @content;
        }
    }
    @else {
        @warn "Breakpoint mixin supports: xs, sm, md, lg";
    }
}